<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Clip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.staticResources.css %>" />
</head>
<body>
<div id="root"></div>
</body>
<script src="<%= htmlWebpackPlugin.options.staticResources.js %>"></script>
</html>