.wrap-command-box {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #3C3F41;
    resize: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
  }
}