.home-wrap {
  width: 800px;
  margin: 50px auto 100px;
  text-align: center;

  .introduce {
    h1 {
      margin-top: 30px;
      font-size: 50px;
    }

    h3 {
      font-size: 15px;
    }
  }

  hr {
    margin-top: 100px;
  }

  .description {
    margin-top: 20px;
    text-align: left;

    .row {
      margin-top: 50px;

      h1 {
        font-size: 30px;
      }
    }
  }
}