.wrap {
  .dashboard {
    display: flex;

    .package {
      .name {
        font-size: 15px;
        margin: 10px 0;
      }

      ul {
        li {
          margin-left: 5px;
        }
      }
    }
  }
}