.component-textfield {
  .area {
    position: relative;

    textarea {
      width: 100%;
      height: 100px;
      resize: none;

      border: 1px solid grey;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid grey;
      box-sizing: border-box;
    }
  }
}